<div id="mail-confirm" fxLayout="column" fusePerfectScrollbar>

    <div id="mail-confirm-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="mail-confirm-form" *fuseIfOnDom [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo">
                <mat-icon class="s-96">email</mat-icon>
            </div>

            <div class="title">Confirm your email address!</div>

            <div class="subtitle">
                <p>
                    A confirmation code has been sent to <b>{{user.email}}.</b>
                </p>
                <p>
                    Please enter your code below to verify your account.
                </p>
                <form [formGroup]="confirmationForm">
                    <mat-form-field>
                        <input class="confirmationCodeInput" formControlName="confirmationCode" matInput autofocus>
                    </mat-form-field>
                </form>
            </div>

           <button (click)="verifyUser()" mat-raised-button>Submit</button>
           <!--<div class="message">
                <a class="link" ref="#">Didn't an recieve email? Click here to resend.</a>
            </div>
        -->

        </div>

    </div>

</div>
